<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons  slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        {{ 'modalmortalidadreg.titulo' | translate }}
       </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
    <ion-item >
      <ion-label  color="dark">
        {{ 'modalmortalidadreg.espaciosprodu' | translate }} *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.espacios"
        [items]="espaciosprod"
        itemValueField="COD"
        itemTextField="NOMBRE"
        [canSearch]="true"
        (onChange)="changeespacios($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item >
      <ion-label  color="dark" > {{ 'modalmortalidadreg.seleccionlote' | translate }}  *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.LoteSelec"
        [items]="Lote"
        itemValueField="NOMBRE"
        itemTextField="NOMBRE"
        [canSearch]="true"
        (onChange)="changelotes($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item >
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalmortalidadreg.lote' | translate }}: *</ion-label>
      <ion-input [(ngModel)]="DataForm.Lote"  placeholder="{{ 'modalmortalidadreg.lote' | translate }}" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalmortalidadreg.cantidadam' | translate }}:</ion-label>
      <ion-input [(ngModel)]="DataForm.cantidadam"  placeholder="{{ 'modalmortalidadreg.cantidadam' | translate }}" type="number"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalmortalidadreg.kilosam' | translate }}: </ion-label>
      <ion-input [(ngModel)]="DataForm.kilosam"  placeholder="{{ 'modalmortalidadreg.kilosam' | translate }}" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalmortalidadreg.canitdadpm' | translate }}: </ion-label>
      <ion-input [(ngModel)]="DataForm.cantidadpm"  placeholder="{{ 'modalmortalidadreg.canitdadpm' | translate }}" type="number"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalmortalidadreg.kilospm' | translate }}: </ion-label>
      <ion-input [(ngModel)]="DataForm.kilospm"  placeholder="{{ 'modalmortalidadreg.kilospm' | translate }}" type="number"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalmortalidadreg.observaciones' | translate }}: </ion-label>
      <ion-input [(ngModel)]="DataForm.observaciones"  placeholder="{{ 'modalmortalidadreg.observaciones' | translate }}" type="text"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label  color="dark">{{ 'modalmortalidadreg.causas' | translate }} *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.causas"
        [items]="causass"
        itemValueField="CODIGO"
        itemTextField="CAUSA"
        [canSearch]="true"
        (onChange)="changecausas($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    </ion-list>    
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="finalizar()" color="warning" style="border-radius:10px !important;">{{ 'modalmortalidadreg.finalizar' | translate }}</ion-button>

      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="agregarotro()" color="principal" style="border-radius:10px !important;">{{ 'modalmortalidadreg.agregar' | translate }}</ion-button>

      </ion-col>
    </ion-row>
</ion-content>