<ion-toolbar color="principal">
  <ion-buttons slot="start">
    <ion-button (click)="finalizar()">
      <ion-icon slot="icon-only" name="arrow-back-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
       Reporte Detalles
      </div>
    </ion-title>
</ion-toolbar>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed"  *ngIf="!ingreso">
    <ion-fab-button color="principal" (click)="nuevoingreso()" >
      <ion-icon name="add-circle-outline">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="ingreso">
    <ion-item >
      <ion-label  color="dark">Especie *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.especie"
        [items]="especies"
        itemValueField="IDESP"
        itemTextField="ESPECIE"
        [canSearch]="true"
        (onChange)="changeEspecies($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">Peso Total (GR) * </ion-label>
      <ion-input [(ngModel)]="DataForm.pesotota.value" (ionChange)="PesoPromedio()" min="0" inputmode="decimal" placeholder="" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">Cantidad de Animales * </ion-label>
      <ion-input [(ngModel)]="DataForm.cantidadani.value"  min="0" (ionChange)="PesoPromedio()" inputmode="numeric" placeholder="" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">Peso Prom Animal (GR) * </ion-label>
      <ion-input [(ngModel)]="DataForm.pesoprom.value" min="0" placeholder="" inputmode="decimal" inputmode="numeric"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">Largo </ion-label>
      <ion-input [(ngModel)]="DataForm.largo.value"  min="0" placeholder="" inputmode="decimal" inputmode="numeric"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">Alto </ion-label>
      <ion-input [(ngModel)]="DataForm.alto.value"  min="0" placeholder=""  inputmode="decimal" inputmode="numeric" ></ion-input>
    </ion-item>
    <ion-item> 
      <ion-label position="stacked" style="font-size: larger;">Sexo </ion-label>
      <ion-select placeholder="Sexo" [(ngModel)]="DataForm.sexo.value">
        <ion-select-option value="F">Femenino</ion-select-option>
        <ion-select-option value="M">Masculino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid *ngIf="!update">
      <ion-row >
         <ion-col size="6">
          <ion-button expand="full" tappable color="danger" (click)="finalizarGuardado()">Finalizar</ion-button>
        </ion-col>
        <ion-col size="6"> <ion-button expand="full" tappable color="principal" (click)="ValidarInfo(false)">Continuar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="update">
      <ion-row >
         <ion-col size="6">
          <ion-button expand="full" tappable color="danger" (click)="CancelarEdit()">Cancelar</ion-button>
        </ion-col>
        <ion-col size="6"> <ion-button expand="full" tappable color="principal" (click)="ValidarInfo(true)">Grabar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list *ngIf="!ingreso">
    <ion-list-header>
      <ion-label>Lista de Registros </ion-label>
    </ion-list-header>
    <div *ngIf="detalle.length==0" class="ion-text-center">
      <ion-label>No Hay Data</ion-label>
    </div>
    <ion-item  *ngFor="let detalle of detalle,let i = index">
        <ion-label class="ion-text-wrap">
          <p>Numero:  {{(detalle.id)}}</p>
          <p>Especie: {{(detalle.especie?detalle.especie.ESPECIE:'NADA')}}</p>
          <p>Peso Total (GR): {{detalle.pesototal}}</p> 
          <p>Cantidad Animales: {{detalle.CantidadAnimales}}</p> 
         <p>Peso Prom. animal (GR):  {{detalle.pesoprom}}</p>  
         <p>Largo (CM):  {{detalle.largo}}</p>  
         <p>Alto (CM):  {{detalle.alto}}</p> 
         <p>Sexo:  {{detalle.sexo}}</p>                   
        </ion-label>
        <ion-button color="primary" (click)="edit(i)" slot="end">  <ion-icon name="create-outline">
        </ion-icon>       
         </ion-button>
        <ion-button color="danger" (click)="borrar(i)" slot="end">  <ion-icon name="close">
        </ion-icon>       
         </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
