<ion-toolbar color="principal">
  <ion-buttons slot="start">
    <ion-button (click)="finalizar()">
      <ion-icon slot="icon-only" name="arrow-back-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        {{ 'modalreportsaldo.titulo' | translate }}
      </div>
    </ion-title>
</ion-toolbar>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed"  *ngIf="!ingreso">
    <ion-fab-button color="principal" (click)="nuevoingreso()" >
      <ion-icon name="add-circle-outline">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="ingreso">
    <ion-item >
      <ion-label  color="dark">
        {{ 'modalreportsaldo.especies' | translate }} *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.especie"
        [items]="especies"
        itemValueField="IDESP"
        itemTextField="ESPECIE"
        [canSearch]="true"
        (onChange)="changeEspecies($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalreportsaldo.saldoespe' | translate }} * </ion-label>
      <ion-input [(ngModel)]="DataForm.saldo.value" min="0" inputmode="decimal" placeholder="" type="number"></ion-input>
    </ion-item>
    <ion-grid *ngIf="!update">
      <ion-row >
         <ion-col size="6">
          <ion-button expand="full" tappable color="danger" (click)="finalizarGuardado()">{{ 'modalreportsaldo.finalizar' | translate }}</ion-button>
        </ion-col>
        <ion-col size="6"> <ion-button expand="full" tappable color="principal" (click)="ValidarInfo(false)">{{ 'modalreportsaldo.continuar' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="update">
      <ion-row >
         <ion-col size="6">
          <ion-button expand="full" tappable color="danger" (click)="CancelarEdit()">{{ 'modalreportsaldo.cancelar' | translate }}</ion-button>
        </ion-col>
        <ion-col size="6"> <ion-button expand="full" tappable color="principal" (click)="ValidarInfo(true)">{{ 'modalreportsaldo.grabar' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list *ngIf="!ingreso">
    <ion-list-header>
      <ion-label>{{ 'modalreportsaldo.listareg' | translate }}</ion-label>
    </ion-list-header>
    <div *ngIf="Saldoss.length==0" class="ion-text-center">
      <ion-label>{{ 'modalreportsaldo.nohaydata' | translate }}</ion-label>
    </div>
    <ion-item  *ngFor="let Saldoss of Saldoss,let i = index">
        <ion-label class="ion-text-wrap">
          <p>{{ 'modalreportsaldo.numero' | translate }}:  {{(Saldoss.id)}}</p>
          <p>{{ 'modalreportsaldo.especies' | translate }}: {{(Saldoss.especie?Saldoss.especie.ESPECIE:('modalreportsaldo.nada' | translate) )}}</p>
          <p>{{ 'modalreportsaldo.saldo' | translate }}:  {{(Saldoss.saldo)}}</p>           
        </ion-label>
        <ion-button color="primary" (click)="edit(i)" slot="end">  <ion-icon name="create-outline">
        </ion-icon>       
         </ion-button>
        <ion-button color="danger" (click)="borrar(i)" slot="end">  <ion-icon name="close">
        </ion-icon>       
         </ion-button>
    </ion-item>
  </ion-list>
</ion-content>