.logo {
    width: 120px;
    height: 120px;
    margin: 20px auto 20px;
    border-radius: 10%;
    background-size: 100%;
  }
.styletexto{
    color:var(--ion-color-principal);
}
.styleinputlogin{
    border: 1px solid var(--ion-color-principal);
    border-radius: 42px 42px;
}
.my-checkbox {
    display: flex;
    width: 100%;
    align-items: center;
}
.styleinputlogininve{
    border: 1px solid var(--ion-color-principal);
    border-radius: 42px 42px;
}