<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons  slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        Reporte Vacunas
       </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
    <ion-fab-button color="principal" (click)="ValidarRegistro()" >
      <ion-icon name="arrow-forward-circle">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>

  <ion-item >
    <ion-label  color="dark">Empresa *</ion-label>
    <ionic-selectable 
      [(ngModel)]="DataForm.empresa"
      [items]="empresas"
      itemValueField="IDEMP"
      itemTextField="EMPRESA"
      [canSearch]="true"
      (onChange)="changeEmpresas($event)"
      closeButtonText="Cerrar">
    </ionic-selectable>
  </ion-item>
  <ion-item >
    <ion-label  color="dark">Granja *</ion-label>
    <ionic-selectable 
      [(ngModel)]="DataForm.granja"
      [items]="granjas"
      itemValueField="IDGRA"
      itemTextField="NOMBRE"
      [canSearch]="true"
      (onChange)="changeGranjas($event)"
      closeButtonText="Cerrar">
    </ionic-selectable>
  </ion-item>
  <ion-item >
    <ion-label  color="dark">Responsable *</ion-label>
    <ionic-selectable 
      [(ngModel)]="DataForm.responsable"
      [items]="responsables"
      itemValueField="ID"
      itemTextField="NOMBRES"
      [canSearch]="true"
      (onChange)="changeResponsable($event)"
      closeButtonText="Cerrar">
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">Lote * </ion-label>
    <ion-input [(ngModel)]="DataForm.Lote.value"  min="0" placeholder="02111" inputmode="numeric" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="" class="ion-text-wrap">Fecha *</ion-label>
    <ion-datetime monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' min="1980" max="2030" cancelText="CANCELAR"  doneText="ACEPTAR" placeholder="Selecciona la Fecha" [(ngModel)]="DataForm.fecha" ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">Proveedor:</ion-label>
    <ion-input [(ngModel)]="DataForm.proveedor.value"  placeholder="Proveedor" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">Laboratorio:</ion-label>
    <ion-input [(ngModel)]="DataForm.laboratorio.value"  placeholder="Laboratorio" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">Tipo de vacuna:</ion-label>
    <ion-input [(ngModel)]="DataForm.tipovacuna.value"  placeholder="Tipo de vacuna" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">Lote de vacuna:</ion-label>
    <ion-input [(ngModel)]="DataForm.lotevacuna.value"  placeholder="Lote de vacuna" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cuentas con horas de vacunacion?</ion-label>
    <ion-toggle [(ngModel)]="DataForm.vacunacionhoras"></ion-toggle>
  </ion-item>
  <ion-row>
    <ion-col size="6">
      <ion-item class="ion-text-center">
        <ion-label  position="floating" class="ion-text-wrap" style="font-size:12px;">Hora de inicio</ion-label>
        <ion-datetime [min]="yearMin"  [max]="yearMax" display-format="HH:mm" picker-format="HH:mm " value="1990-02-19T07:43Z" cancelText="CANCELAR"  doneText="ACEPTAR" [(ngModel)]="DataForm.startdate" ></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="ion-text-center">
        <ion-label  position="floating" class="ion-text-wrap" style="font-size:12px;">Hora de Fin</ion-label>
        <ion-datetime [min]="yearMin"  [max]="yearMax" display-format="HH:mm" picker-format="HH:mm" value="1990-02-19T07:43Z" cancelText="CANCELAR"  doneText="ACEPTAR" [(ngModel)]="DataForm.enddate" ></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">Cantidad:</ion-label>
    <ion-input [(ngModel)]="DataForm.Cantidad.value"  placeholder="0" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">Peso:</ion-label>
    <ion-input [(ngModel)]="DataForm.Peso.value"  placeholder="0" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">Personas:</ion-label>
    <ion-input [(ngModel)]="DataForm.Personas.value"  placeholder="0" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">Observaciones:</ion-label>
    <ion-input [(ngModel)]="DataForm.observaciones.value"  placeholder="observaciones" type="text"></ion-input>
  </ion-item>
  </ion-list>
</ion-content>
