<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons  slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        {{ 'reportvacun.titulo' | translate }}
       </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
    <ion-fab-button color="principal" (click)="ValidarRegistro()" >
      <ion-icon name="arrow-forward-circle">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>

  <ion-item >
    <ion-label  color="dark">{{ 'reportvacun.empresa' | translate }} *</ion-label>
    <ionic-selectable 
      [(ngModel)]="DataForm.empresa"
      [items]="empresas"
      itemValueField="IDEMP"
      itemTextField="EMPRESA"
      [canSearch]="true"
      (onChange)="changeEmpresas($event)"
      closeButtonText="Cerrar">
    </ionic-selectable>
  </ion-item>
  <ion-item >
    <ion-label  color="dark">{{ 'reportvacun.granja' | translate }} *</ion-label>
    <ionic-selectable 
      [(ngModel)]="DataForm.granja"
      [items]="granjas"
      itemValueField="IDGRA"
      itemTextField="NOMBRE"
      [canSearch]="true"
      (onChange)="changeGranjas($event)"
      closeButtonText="Cerrar">
    </ionic-selectable>
  </ion-item>
  <ion-item >
    <ion-label  color="dark">{{ 'reportvacun.responsable' | translate }} *</ion-label>
    <ionic-selectable 
      [(ngModel)]="DataForm.responsable"
      [items]="responsables"
      itemValueField="ID"
      itemTextField="NOMBRES"
      [canSearch]="true"
      (onChange)="changeResponsable($event)"
      closeButtonText="Cerrar">
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">{{ 'reportvacun.lote' | translate }}  * </ion-label>
    <ion-input [(ngModel)]="DataForm.Lote.value"  min="0" placeholder="02111" inputmode="numeric" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="" class="ion-text-wrap">{{ 'reportvacun.Fecha' | translate }} *</ion-label>
    <ion-datetime monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' min="1980" max="2030" cancelText="{{ 'reportvacun.cancelar' | translate }}"  doneText="{{ 'reportvacun.aceptar' | translate }}" placeholder="{{ 'reportvacun.selectfecha' | translate }}" [(ngModel)]="DataForm.fecha" ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">{{ 'reportvacun.proveedor' | translate }}:</ion-label>
    <ion-input [(ngModel)]="DataForm.proveedor.value"  placeholder="{{ 'reportvacun.proveedor' | translate }}" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">{{ 'reportvacun.laboratorio' | translate }}:</ion-label>
    <ion-input [(ngModel)]="DataForm.laboratorio.value"  placeholder="{{ 'reportvacun.laboratorio' | translate }}" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">{{ 'reportvacun.tipodevacuna' | translate }}:</ion-label>
    <ion-input [(ngModel)]="DataForm.tipovacuna.value"  placeholder="{{ 'reportvacun.tipodevacuna' | translate }}" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">{{ 'reportvacun.lotevacuna' | translate }}:</ion-label>
    <ion-input [(ngModel)]="DataForm.lotevacuna.value"  placeholder="{{ 'reportvacun.lotevacuna' | translate }}" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'reportvacun.cuantasconhora' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="DataForm.vacunacionhoras"></ion-toggle>
  </ion-item>
  <ion-row>
    <ion-col size="6">
      <ion-item class="ion-text-center">
        <ion-label  position="floating" class="ion-text-wrap" style="font-size:12px;">{{ 'reportvacun.horainicio' | translate }}</ion-label>
        <ion-datetime [min]="yearMin"  [max]="yearMax" display-format="HH:mm" picker-format="HH:mm " value="1990-02-19T07:43Z" cancelText="CANCELAR"  doneText="ACEPTAR" [(ngModel)]="DataForm.startdate" ></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="ion-text-center">
        <ion-label  position="floating" class="ion-text-wrap" style="font-size:12px;">{{ 'reportvacun.horafin' | translate }}</ion-label>
        <ion-datetime [min]="yearMin"  [max]="yearMax" display-format="HH:mm" picker-format="HH:mm" value="1990-02-19T07:43Z" cancelText="CANCELAR"  doneText="ACEPTAR" [(ngModel)]="DataForm.enddate" ></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">{{ 'reportvacun.cantidad' | translate }}:</ion-label>
    <ion-input [(ngModel)]="DataForm.Cantidad.value"  placeholder="0" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">{{ 'reportvacun.peso' | translate }}:</ion-label>
    <ion-input [(ngModel)]="DataForm.Peso.value"  placeholder="0" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">{{ 'reportvacun.persona' | translate }}:</ion-label>
    <ion-input [(ngModel)]="DataForm.Personas.value"  placeholder="0" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger;">{{ 'reportvacun.obervacion' | translate }}:</ion-label>
    <ion-input [(ngModel)]="DataForm.observaciones.value"  placeholder="{{ 'reportvacun.obervacion' | translate }}" type="text"></ion-input>
  </ion-item>
  </ion-list>
</ion-content>
