<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons  slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        {{ 'modalmateriasconsumo.titulo' | translate }}
       </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
    <ion-item >
      <ion-label  color="dark">
        {{ 'modalmateriasconsumo.espaciosprodu' | translate }} *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.espacios"
        [items]="espaciosprod"
        itemValueField="COD"
        itemTextField="NOMBRE"
        [canSearch]="true"
        (onOpen)="onOpen($event)"
        (onChange)="changeespacios($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item >
      <ion-label  color="dark" > {{ 'modalmateriasconsumo.seleccionlote' | translate }} *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.LoteSelec"
        [items]="Lote"
        itemValueField="NOMBRE"
        itemTextField="NOMBRE"
        [canSearch]="true"
        (onChange)="changelotes($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalmateriasconsumo.cantidad' | translate }} : *</ion-label>
      <ion-input [(ngModel)]="DataForm.cantidad"  placeholder="{{ 'modalmateriasconsumo.cantidad' | translate }}" type="number"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label  color="dark">{{ 'modalmateriasconsumo.materiaprima' | translate }} *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.materia"
        [items]="materias"
        itemValueField="ID"
        itemTextField="NOMBRE"
        [canSearch]="true"
        (onChange)="changematerias($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalmateriasconsumo.loteetiqueta' | translate }}: *</ion-label>
      <ion-input [(ngModel)]="DataForm.LotesEMP"  placeholder="{{ 'modalmateriasconsumo.loteetiqueta' | translate }}" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'modalmateriasconsumo.observaciones' | translate }}:</ion-label>
      <ion-input [(ngModel)]="DataForm.observaciones"  placeholder="{{ 'modalmateriasconsumo.observaciones' | translate }}" type="text"></ion-input>
    </ion-item>
    </ion-list>    
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="finalizar()" color="warning" style="border-radius:10px !important;">{{ 'modalmateriasconsumo.finalizar' | translate }}</ion-button>

      </ion-col>
      <ion-col size="6">
        <ion-button expand="block"  (click)="agregarotro()" color="principal" style="border-radius:10px !important;">{{ 'modalmateriasconsumo.agregar' | translate }}</ion-button>

      </ion-col>
    </ion-row>
</ion-content>
