<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons  slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        {{ 'reporteinicial.titulo' | translate }}
       </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
    <ion-fab-button color="principal" (click)="ValidarRegistro()" >
      <ion-icon name="arrow-forward-circle">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-list-header>
      {{ 'reporteinicial.datainici' | translate }}
    </ion-list-header>
    <ion-item >
      <ion-label  color="dark">
        {{ 'reporteinicial.empresa' | translate }} *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.empresa"
        [items]="empresas"
        itemValueField="IDEMP"
        itemTextField="EMPRESA"
        [canSearch]="true"
        (onChange)="changeEmpresas($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item >
      <ion-label  color="dark">{{ 'reporteinicial.granja' | translate }} *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.granja"
        [items]="granjas"
        itemValueField="IDGRA"
        itemTextField="NOMBRE"
        [canSearch]="true"
        (onChange)="changeGranjas($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item >
      <ion-label  color="dark">{{ 'reporteinicial.espacios' | translate }} *</ion-label>
      <ionic-selectable 
      #portComponent
      [(ngModel)]="DataForm.espacio"
        [items]="espacios"
        itemValueField="NOMBRE"
        itemTextField="NOMBRE"
        [canSearch]="true"
        (onOpen)="onOpen($event)"
        (onChange)="changeLotes($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'reporteinicial.lote' | translate }} * </ion-label>
      <ion-input [(ngModel)]="DataForm.Lote.value"  min="0" placeholder="02111" inputmode="numeric" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  position="" class="ion-text-wrap">{{ 'reporteinicial.Fecha' | translate }} *</ion-label>
      <ion-datetime monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' min="1980" max="2030" cancelText="{{ 'reporteinicial.cancelar' | translate }}"  doneText="{{ 'reporteinicial.aceptar' | translate }}" placeholder="{{ 'reporteinicial.selectfecha' | translate }}" [(ngModel)]="DataForm.fecha" ></ion-datetime>
    </ion-item>
   
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'reporteinicial.tiporeporte' | translate }} * </ion-label>
      <ion-select placeholder="Selecciona Un tipo de Reporte" [(ngModel)]="DataForm.TipoReporte.value">
        <ion-select-option value="Poblacional">{{ 'reporteinicial.option1' | translate }}</ion-select-option>
        <ion-select-option value="Sexaje">{{ 'reporteinicial.option2' | translate }}</ion-select-option>
        <ion-select-option value="Virus">{{ 'reporteinicial.option3' | translate }}</ion-select-option>
        <ion-select-option value="Bacterias">{{ 'reporteinicial.option4' | translate }}</ion-select-option>
        <ion-select-option value="Otros">{{ 'reporteinicial.option5' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label  color="dark">{{ 'reporteinicial.responsable' | translate }} *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.responsable"
        [items]="responsables"
        itemValueField="ID"
        itemTextField="NOMBRES"
        [canSearch]="true"
        (onChange)="changeResponsable($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">{{ 'reporteinicial.observaciones' | translate }}:</ion-label>
      <ion-input [(ngModel)]="DataForm.observacion.value"  placeholder="{{ 'reporteinicial.observacionespla' | translate }}" type="text"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>{{ 'reporteinicial.datasaldo' | translate }} </ion-label>
      <ion-button fill="outline" (click)="gotoSaldos()">{{ 'reporteinicial.versaldo' | translate }}</ion-button>
    </ion-list-header>
    <div *ngIf="saldoss.length>0" class="ion-text-center">
      <ion-label  class="ion-text-center">
        <p style="margin:0px 5px 0px 0px">{{ 'reporteinicial.son' | translate }} </p>
        <ion-badge>{{saldoss.length}}</ion-badge>
        
        <p>{{ 'reporteinicial.registrosal' | translate }}</p>
      </ion-label>
    </div>
    <div *ngIf="saldoss.length==0" class="ion-text-center">
      <ion-label >{{ 'reporteinicial.nohaydata' | translate }}</ion-label>
    </div>

 
    <ion-list-header>
      <ion-label>{{ 'reporteinicial.datadetall' | translate }} </ion-label>
      <ion-button *ngIf="DataForm.empresa && DataForm.granja" fill="outline" (click)="gotoDetalle()">{{ 'reporteinicial.vertodo' | translate }}</ion-button>
    </ion-list-header>
    <div *ngIf="detalles.length>0" class="ion-text-center">
      <ion-label  class="ion-text-center">
        <p style="margin:0px 5px 0px 0px">{{ 'reporteinicial.cuentascon' | translate }} </p>
        <ion-badge>{{detalles.length}}</ion-badge>
        
        <p>{{ 'reporteinicial.registro' | translate }} </p>
      </ion-label>
    </div>
    <div *ngIf="!DataForm.empresa || !DataForm.granja" class="ion-text-center">
      <ion-label >{{ 'reporteinicial.seleccionarempre' | translate }}</ion-label>
    </div>
    <div *ngIf="detalles.length==0" class="ion-text-center">
      <ion-label >{{ 'reporteinicial.nohaydata' | translate }}</ion-label>
    </div>
  </ion-list>
  <ion-list>
   
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="principal" > 
  <ion-item>
    <ion-label>
      <p>
        {{ 'reporteinicial.pesoaritme' | translate }}: {{Pesos.Aritemitico}}
    </p>
    <p>
      {{ 'reporteinicial.pesoprome' | translate }}: {{Pesos.Promedio}}
    </p></ion-label>
  </ion-item>  
  </ion-toolbar>
</ion-footer>
