<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons  slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        Reporte Principal
       </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
    <ion-fab-button color="principal" (click)="ValidarRegistro()" >
      <ion-icon name="arrow-forward-circle">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-list-header>
      (Data inicial)
    </ion-list-header>
    <ion-item >
      <ion-label  color="dark">Empresa *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.empresa"
        [items]="empresas"
        itemValueField="IDEMP"
        itemTextField="EMPRESA"
        [canSearch]="true"
        (onChange)="changeEmpresas($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item >
      <ion-label  color="dark">Granja *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.granja"
        [items]="granjas"
        itemValueField="IDGRA"
        itemTextField="NOMBRE"
        [canSearch]="true"
        (onChange)="changeGranjas($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item >
      <ion-label  color="dark">Espacios *</ion-label>
      <ionic-selectable 
      #portComponent
      [(ngModel)]="DataForm.espacio"
        [items]="espacios"
        itemValueField="NOMBRE"
        itemTextField="NOMBRE"
        [canSearch]="true"
        (onOpen)="onOpen($event)"
        (onChange)="changeLotes($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">Lote * </ion-label>
      <ion-input [(ngModel)]="DataForm.Lote.value"  min="0" placeholder="02111" inputmode="numeric" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  position="" class="ion-text-wrap">Fecha *</ion-label>
      <ion-datetime monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' min="1980" max="2030" cancelText="CANCELAR"  doneText="ACEPTAR" placeholder="Selecciona la Fecha" [(ngModel)]="DataForm.fecha" ></ion-datetime>
    </ion-item>
   
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">Tipo de Reporte * </ion-label>
      <ion-select placeholder="Selecciona Un tipo de Reporte" [(ngModel)]="DataForm.TipoReporte.value">
        <ion-select-option value="Poblacional">Poblacional</ion-select-option>
        <ion-select-option value="Sexaje">Sexaje</ion-select-option>
        <ion-select-option value="Virus">Virus</ion-select-option>
        <ion-select-option value="Bacterias">Bacterias</ion-select-option>
        <ion-select-option value="Otros">Otros</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label  color="dark">Responsable *</ion-label>
      <ionic-selectable 
        [(ngModel)]="DataForm.responsable"
        [items]="responsables"
        itemValueField="ID"
        itemTextField="NOMBRES"
        [canSearch]="true"
        (onChange)="changeResponsable($event)"
        closeButtonText="Cerrar">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: larger;">Observación:</ion-label>
      <ion-input [(ngModel)]="DataForm.observacion.value"  placeholder="Comenta lo que quieras" type="text"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>(Data Saldos) </ion-label>
      <ion-button fill="outline" (click)="gotoSaldos()">Ver Saldos</ion-button>
    </ion-list-header>
    <div *ngIf="saldoss.length>0" class="ion-text-center">
      <ion-label  class="ion-text-center">
        <p style="margin:0px 5px 0px 0px">Son </p>
        <ion-badge>{{saldoss.length}}</ion-badge>
        
        <p>Registros de Saldos </p>
      </ion-label>
    </div>
    <div *ngIf="saldoss.length==0" class="ion-text-center">
      <ion-label >No Hay Data</ion-label>
    </div>

 
    <ion-list-header>
      <ion-label>(Data Detalles) </ion-label>
      <ion-button *ngIf="DataForm.empresa && DataForm.granja" fill="outline" (click)="gotoDetalle()">Ver Todos</ion-button>
    </ion-list-header>
    <div *ngIf="detalles.length>0" class="ion-text-center">
      <ion-label  class="ion-text-center">
        <p style="margin:0px 5px 0px 0px">Cuentas Con </p>
        <ion-badge>{{detalles.length}}</ion-badge>
        
        <p>Registros </p>
      </ion-label>
    </div>
    <div *ngIf="!DataForm.empresa || !DataForm.granja" class="ion-text-center">
      <ion-label >Debes Seleccionar una Empresa y una granja Para mostrar los detalles</ion-label>
    </div>
    <div *ngIf="detalles.length==0" class="ion-text-center">
      <ion-label >No Hay Data</ion-label>
    </div>
  </ion-list>
  <ion-list>
   
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="principal" > 
  <ion-item>
    <ion-label>
      <p>
      Peso Aritmético: {{Pesos.Aritemitico}}
    </p>
    <p>
      Peso Promedio: {{Pesos.Promedio}}
    </p></ion-label>
  </ion-item>  
  </ion-toolbar>
</ion-footer>
