<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons  slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      REPORTES GUARDADOS
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item>
      <ion-label>Selecciona el tipo de reporte</ion-label>
      <ion-select value="1" okText="Aceptar" cancelText="Cancelar" (ionChange)="seleccionartiporeporte($event)">
        <ion-select-option value="1">Biometrias</ion-select-option>
        <ion-select-option value="2">Vacunas</ion-select-option>
        <ion-select-option value="3">Fisicos - Quimicos</ion-select-option>
        <ion-select-option value="4">Mortalidad</ion-select-option>
        <ion-select-option value="5">Consumo de Materias</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" *ngIf="tipo==='NotSend'">
    <ion-fab-button color="principal" (click)="enviarData()" >
      <ion-icon name="cloud-upload">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
      <ion-item *ngFor="let reportes of reportes">
          <ion-label>
            <p *ngIf="reportes.Reporte.enviado">Numero de Reporte: {{(reportes.Reporte.dataEnviado.Principal.NORC?reportes.Reporte.dataEnviado.Principal.NORC:'NO REGISTRO')}}</p>
            <p>Empresa:{{reportes.NombreEmpresas}} </p>
            <p>Granja:{{reportes.GranjasNombre}}</p>
            <p>Responsable:{{reportes.Responsablenombre}}</p>
            <p>Lote:{{reportes.Reporte.ReporteInicial.LOTE}}</p>
          </ion-label>
         <!--<ion-button color="primary" (click)="Show(i)" slot="end">  <ion-icon name="open">
          </ion-icon>  </ion-button>--> 
      </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="principal" > 
  <ion-segment color="principal" mode="ios" (ionChange)="segmentChanged($event)"  [value]="tipo">
    <ion-segment-button value="Send">
      <ion-label>Enviado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="NotSend">
      <ion-label>No Enviados</ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-footer>