<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons  slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        {{ 'reportlist.titulo' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item>
      <ion-label>
        {{ 'reportlist.seleccionatipo' | translate }}</ion-label>
      <ion-select value="1" okText="{{ 'reportlist.menuaccept' | translate }}" cancelText="{{ 'reportlist.menucancel' | translate }}" (ionChange)="seleccionartiporeporte($event)">
        <ion-select-option value="1"> {{ 'reportlist.menu1' | translate }}</ion-select-option>
        <ion-select-option value="2"> {{ 'reportlist.menu2' | translate }}</ion-select-option>
        <ion-select-option value="3"> {{ 'reportlist.menu3' | translate }}</ion-select-option>
        <ion-select-option value="4"> {{ 'reportlist.menu4' | translate }}</ion-select-option>
        <ion-select-option value="5"> {{ 'reportlist.menu5' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" *ngIf="tipo==='NotSend'">
    <ion-fab-button color="principal" (click)="enviarData()" >
      <ion-icon name="cloud-upload">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
      <ion-item *ngFor="let reportes of reportes">
          <ion-label>
            <p *ngIf="reportes.Reporte.enviado">{{ 'reportlist.numeroreport' | translate }}: {{(reportes.Reporte.dataEnviado.Principal.NORC?reportes.Reporte.dataEnviado.Principal.NORC:'NO REGISTRO')}}</p>
            <p>{{ 'reportlist.empresa' | translate }}:{{reportes.NombreEmpresas}} </p>
            <p>{{ 'reportlist.granja' | translate }}:{{reportes.GranjasNombre}}</p>
            <p>{{ 'reportlist.responsable' | translate }}:{{reportes.Responsablenombre}}</p>
            <p>{{ 'reportlist.lote' | translate }}:{{reportes.Reporte.ReporteInicial.LOTE}}</p>
          </ion-label>
         <!--<ion-button color="primary" (click)="Show(i)" slot="end">  <ion-icon name="open">
          </ion-icon>  </ion-button>--> 
      </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="principal" > 
  <ion-segment color="principal" mode="ios" (ionChange)="segmentChanged($event)"  [value]="tipo">
    <ion-segment-button value="Send">
      <ion-label>{{ 'reportlist.enviado' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="NotSend">
      <ion-label>{{ 'reportlist.noenviados' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-footer>